*
{
    padding:0;
    margin:auto;
}

h1
{
    font: bold 48px/42px "Open Sans", sans-serif;
    margin-top: 82px;
    color: #333333;
}

h2
{
    font: normal 36px/42px "Open Sans", sans-serif;
    color: #333333;
    margin: 44px 0 13px 0;
}

h3
{
    font: normal 36px/42px "Open Sans", sans-serif ;
    padding: 0 2px;
    
}
/*blocks*/

.block_main
{   
    width: 1920px;
    height: 2320px;
    background-image: url("pictures/back_photo.png");
    background-repeat: no-repeat; 
    background-position-y: 46px; 
}

.block_left
{   
    width: 450px;
    margin: 210px 0 0 360px;
    float: left;
}

.block_right
{
    width: 590px;
    float: left;
    margin: 210px 0 0 60px;
}

.clear
{
    clear: both;
}

.block_roll
{
    width: 330px;
    margin-left: 120px;
}

.block_quote
{
    width: 100%;
}

.block_content
{
    width: 100%;
  
}

.block_link
{
    width: 100%;
    margin-top: 40px;
   
}

.block_films
{
    width: 1200px;
    float: left;
    margin-left: 360px;
}

.block
{  
    width: 285px;
    float: left;
}

.clear
{
    clear: both;
}

.movie2, .movie3, .movie4
{
    margin-left: 20px;
}

.block_button
{
    margin: 60px 0 0 360px;
    float: left;
    width: 1200px;
    padding: 10px 0;
}

.clear
{
    clear: both;
}

.block_footer
{
    float: left;
    width: 1920px; 
    background: #f9f9f9;
    padding: 18px;
    margin-top: 50px;
}

.clear
{
    clear: both;
}

.block_top
{
    width: 1920px;
    
}

.block_link_top
{
    width: 960px;
    margin-left: 480px;
   
}

.block_registration
{
    width: 960px;
}


/*bloks*/

/*images*/

.image_author
{
    height: 350px;
    width: 330px;
    margin-left: 120px;
    border-radius: 5px;
 
}

.image_rectangle
{
    margin: 30px 0 40px 0;
}

.image_movie
{
    width: 285px;
    height: 190px;
    margin-top: 18px;
    border-radius: 5px;
}



/*tag classes*/

.lists
{  
   font: normal 19px/36px "Georgia", sans-serif;
   padding: 11px 0 0 23px;
}

.list_name
{
   display: inline-block;
   font: 600 24px/32px "Open Sans", sans-serif;  
   margin-top: 42px;
   color: #15a98b;
}

.quotation_text
{  
   display: inline-block;
   font: italic 28px/42px "Georgia", sans-serif;
   padding-top: 24px;
   color: #ffffff;
   
}

.author_quote
{
    display: inline-block;
    font: 600 16px/42px "Open Sans", sans-serif;
    padding: 5px 0 0 5px;
    color: #ffffff;
}

.content 
{
    font: normal 19px/32px "Georgia", sans-serif;
    color: #555555;
}

.link, .arrow
{
    font: normal 19px/32px "Georgia", sans-serif;
    color: #15a98b;
    text-decoration: none;  
}

.link 
{
    border-bottom: 2px solid #15a98b;
}

.arrow
{
    padding-left: 5px;
}

.link:hover
{
    color: #098d72;
}

.arrow:hover
{
    color: #098d72;
}

.block_name
{
   margin-top: 95px;
}

.information_film
{   
    display: inline-block;
    font: normal 16px/28px "Georgia", sans-serif;
    margin-top: 17px;
    color: #555555;
}

.title_movies
{   
    display: inline-block;
    font: bold 22px/32px "Open Sans", sans-serif;
    padding-top: 20px;
    color: #333333;
}

.all_movies
{
    font: normal 19px/32px "Georgia", sans-serif;
    color: #f5f5f5;
    background: #15a98b;
    padding: 15px 56px;
    border-radius: 5px;
    margin-left: 480px;
    text-decoration: none;
}

.all_movies:hover
{
    background: #098d72;
}

.footer_signature
{
    font: normal 16px/32px "Georgia", sans-serif;
    color: #555555;
    margin-left: 576px;
}

.top
{   
    display: inline-block;
    font: normal 19px/32px "Georgia", sans-serif;
    color: #333333;
    text-decoration: none;   
}

.link1
{
    color: #f5f5f5;
    background: #15a98c;
    padding: 7px 21px;  
}

.link2
{
    padding: 7px 16px; 
}

.link3
{
    padding: 7px 19px; 
}

.name_link
{
    display: inline-block;
}

.icon_link
{
    padding-right: 6px;
}

.title_registration
{   
    display: inline-block;
    font: 300  36px/42px "Open Sans", sans-serif; 
    margin : 90px 20px 70px 28px;
}

.line_left
{ 
    display: inline-block;
    margin-left: 119px;
}

.line_left, .line_right
{
    margin-bottom: 12px;
}

.form_field
{
    width: 523px;
    height: 46px;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    margin: 0 0 21px 210px;
    font: normal 18px/32px "Open Sans", sans-serif;
    padding-left: 15px;
}

.form_field:hover
{
    border-color: #a6a6a6;
}

.form_field:focus
{  
    border: 2px solid #15a98c;
    border-radius: 3px;
    outline: none;
}

.select_field
{  
    background-image: url("pictures/arrow_down.png");
    background-repeat: no-repeat;
    background-position-x: 499px;
    background-position-y: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 542px;
    height: 50px;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    margin: 3px 0 21px 210px;
    font: normal 18px/32px "Open Sans", sans-serif;
    padding-left: 18px;
    padding-bottom: 2px;
    outline: none;
}

.select_field:hover
{
    border-color: #a6a6a6;
}

.select_field:focus
{  
    border: 2px solid #15a98c;
    border-radius: 3px;
    outline: none;
}


.title_field
{   
    display: block;
    margin: 0 0 3px 210px;
    font: normal 20px/32px "Open Sans", sans-serif;
    color: #333333;
}

.title_select
{
    display: block;
    margin: 4px 0 3px 210px;
    font: normal 20px/32px "Open Sans", sans-serif;
    color: #333333;
}

.radio_male
{
    margin-left: 210px;
}


.radio_female
{
    margin-left: 38px;
}

.title_radio
{   
    display: inline-block;
    margin-top: 2px;
    font: normal 18px/32px "Open Sans", sans-serif;
    padding-left: 4px;

}
.important_field
{
    color: #f04646;
}

.item_name
{
    display: block;
    margin: 18px 0 3px 210px;
    font: normal 20px/32px "Open Sans", sans-serif;
    color: #333333;
}

.textarea_field
{
    width: 537px;
    height: 145px;
    margin-left: 210px;
    border: 2px solid #c9c9c9;
    border-radius: 3px;
    resize: none;
    outline: none;
}

.textarea_field:hover
{
    border-color: #a6a6a6;
}

.textarea_field:focus
{  
    border: 2px solid #15a98c;
    border-radius: 3px;
    outline: none;
}

.title_textarea
{
    display: block;
    margin: 38px 0 3px 210px;
    font: normal 20px/32px "Open Sans", sans-serif;
    color: #333333;
}

.submit_button
{
    margin: 44px 0 0 210px;
    background: #15a98c;
    border: none;
    padding: 9px 63px;
    border-radius: 5px
}

.submit_button:hover
{
    background: #098d72;   
}

.title_submit
{
    font: normal 19px/32px "Georgia", sans-serif;
    color: #f5f5f5;
}

/*id*/

